*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    min-height: 80vh;
    background: #505082;
}

.clock{
    color: #fff;
    background: #2d2f38;
    width: 450px;
    padding: 20px, 45px;
    box-shadow: 0 5px 25px rgb(6, 6, 88);
    border-radius: 10px;
    font-size: 70px;
}